body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;

}

.bloco {
    width: 1250px;
    height: 650px;
    border-radius: 30px;
    background: linear-gradient(to bottom, #dccdf5, #dbeaf9);
    border-spacing: 5px;
    border: .5px solid #9370DB;
}

.robo {
    width: 70px;
    height: auto;
    position: absolute;
    left: 10px;
    margin: 5px;
    justify-content: center;
}

.icone {
    width: 46px;
    height: auto;
    position: absolute;
    right: 10px;
    margin: 0px;
    justify-content: center;
    cursor: pointer;
    bottom: 20px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

h1 {
    color: white;
    text-align: center;
    font-family: "Poppins";
    font-size: 30px;
}

a{
    text-align: none;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}

.gridR,
.gridL {
    display: grid;
    height: 450px;
    justify-items: center;
    align-items: center;
    text-align: center;
    color: #FFF;
}

p {
    font-size: 32px;
    font-family: "Poppins", sans-serif;
}

.soma {
    font-size: 34px;
}

.novo-projeto {
    color: white;
    font-size: 20px;
    font-family: "Inter";
    border: none;
    border-radius: 15px;
    padding: 10px 30px;
    margin-top: 20px;
    cursor: pointer;
    display: block;
    width: 45%;
    background: linear-gradient(90deg, #c49bff, #add8ff);
}

.meus-projetos {
    color: white;
    font-size: 20px;
    font-family: "Inter";
    border: none;
    border-radius: 15px;
    padding: 10px 30px;
    margin-top: 20px;
    cursor: pointer;
    display: block;
    width: 45%;
    background: linear-gradient(90deg, #c49bff, #add8ff);
}


.bloco-projeto:hover {
    animation: floating 3s ease-in-out infinite;
    background: #A0C7A0;
    transition: 0.5s;
    background: linear-gradient(90deg, #b48cec, #91bbe1);
}

@keyframes floating {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-15px);
    }
}